<div class="features">
    <div class="row">
      <div class="column">
        <mat-icon aria-hidden="false" aria-label="Example home icon">report_problem</mat-icon>
        <h3 i18n>What about the future?</h3>
        <p i18n>There is a huge difference in the level of medicine in countries. <br> Below you can see the number of people in millions with dementia in low and middle income countries compared to high income countries.
        </p>
      </div>
    </div>
  </div>
<br>
<br>
<br>
<div echarts [options]="options" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
<app-footer></app-footer>