<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
        <mat-card-header>
          <mat-card-title>Test Result</mat-card-title>
        </mat-card-header>
        <div class="main" *ngIf="userTestDetails">
            <h3 i18n>Score: 28</h3>
            <h3 i18n>Description: Questionably significant degree of Impairment. 
                If clinical signs of cognitive impairment are present, formal assessment of cognition may be valuable.</h3>
        </div>
    </mat-card>
</div>