<mat-toolbar class="nav">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>
            <a class="imgLogo" routerLinkActive="active" routerLink="/doctor/account" (click)="profileWarning()">
                <img src="/assets/img/logo.png" class="logo">MindCare
            </a>
        </span>


        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <ng-container *ngFor="let language of languageList">
                        <a href="/{{language.code}}/">
                            <button mat-button>
                                {{language.label}}
                            </button>
                        </a>
                    </ng-container>
                </li>
                <li>
                    <button mat-icon-button> 
                        <mat-icon>notifications</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button> 
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="btnClick();">
                        <mat-icon>person</mat-icon>
                        My Profile
                    </button>
                      <button mat-menu-item (click)="onLogout()">
                          <mat-icon>exit_to_app</mat-icon>
                          Sign out
                      </button>
                    </mat-menu>
                </li>
            </ul>

        </div>
    
    </mat-toolbar-row>
</mat-toolbar>

