:host{
    .mat-icon{
        vertical-align: middle;
        margin-right: 20px;
    }
}
.profile-card{
    text-align: center;
    padding: 20px;
}
p {
  font-family: Lato;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 120px;
  width: 120px;
  border: 5px solid #000;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}
h3{
    font-family: "Atma";
    font-size: 19px;
}